@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sankofa+Display&display=swap');
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Mulish';
    
}
.banner
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.5s;
}
.banner.night
{
    background: #232e26;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo
{
    color: #333;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    
    
}
header span
{
    color: darkseagreen;
}
header ul
{
  display: flex;
    column-gap: 40px;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
    transition: 0.5s;  
}
.content
{
    position:  relative;
    max-width: 700px;
    z-index: 10;
}
.content h3
{
   font-size: 2em;
    color: #333;
    font-weight: 500;
    transition: 0.5s;
    margin-bottom: 10px;
    
}
.content h2
{
   font-size: 5.5em;
    color: #333;
    font-weight: 700;
    transition: 0.5s;
}
.content h2 span
{
 color: darkseagreen;
}
.content p
{
    font-size: 1.2 em;
    color: #666;
    margin: 30px 0;
    transition: 0.5s;
}
.content button
{
    position: relative;
    background: #2eb053;
    color: aliceblue;
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.content button.chat
{   background: transparent;
    border-bottom-style: solid;
    border-bottom-color: #2eb053;
    color: #333;
}
.content button.chat ion-icon
{
    position: relative;
    top: 5px;
    color: darkseagreen;
    font-size: 1.3em;
}
.sci
{
    position: absolute;
    bottom: 30px;
    display: flex;
    column-gap: 40px;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    text-decoration: none;
    font-size: 1.75em;
    color: #333;
}
.sci li a:hover
{
  color: darkseagreen;
}
.daynight
{
   position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}
.banner.night .daylight
{
    background: #444;
    color: white;
}
.daynight ion-icon:nth-child(2),
.banner.night .daynight ion-icon:nth-child(1)
{
    display: none; 
}
.banner.night .daynight ion-icon:nth-child(2)
{
    display: block;
}
.banner.night header .logo,
.banner.night .content h2,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night header ul li a
{
    color: white;
}
.banner.night .content h3
{
    color: white;
}
.banner.night .sci li a:hover
{
    color: darkseagreen;
}
section::before
{
    content: "";
    position: absolute;
    right: 100px;
    transform: translateY(-8%);
    width: 500px;
    height: 500px;
    background: #a4deb4;
    border-radius: 50%;
    box-shadow: 0 0 20px #a4deb4,
    0 0 50px #a4deb4,
    0 0 15px #a4deb4;
    animation: animateColor 10s linear infinite;
    transition-delay: -5s;
   
}
@keyframes animateColor
{
    0%,100%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(50px);
    }
     
}

.myself
{
    position: absolute;
    right: 0px;
    bottom: 0;
    max-height: 76vh;
}
